# If Statement

In [10]:
cars = ['audi', 'bmw', 'subaru', 'toyota']

for car in cars:
    if car == 'audi':
        print(car.upper())
    else:
        print(car.title())

AUDI
Bmw
Subaru
Toyota

## Conditional Test
## Check for Equality

In [11]:
car = 'bmw'
car == 'bmw'

True

In [12]:
car = 'audi'
car == 'bmw'

False

In [13]:
car = 'audi'
car == 'Audi'

False

In [14]:
car = 'Audi'
car.lower() == 'audi'

True

In [15]:
car

'Audi'

## Checking for Inequality

In [16]:
requested_topping = 'mushroom'

if requested_topping != 'anchoivies':
    print("Hold the anchoivies!")

Hold the anchoivies!

## Numerical Comparisons

In [17]:
age = 18
age == 18

True

In [18]:
answer = 17

if answer != 42:
    print("That is not the correct answer. Please try again!")

That is not the correct answer. Please try again!

In [20]:
age = 19

In [21]:
age < 21

True

In [22]:
age <= 21

True

In [23]:
age > 21

False

In [24]:
age >= 21

False

## Checking Multiple Conditions

In [25]:
age_0 = 22
age_1 = 18

In [26]:
age_0 >= 21 and age_1 >= 21

False

In [28]:
age_1 = 22
age_0 >= 21 and age_1 >= 21

True

## Checking Wheter a Value is in a list

In [29]:
requested_toppings = ['mushroom', 'onions', 'pineapple']

In [30]:
'mushroom' in requested_toppings

True

In [32]:
'pepperoni' in requested_topping

False

## Checking Whether a Value is in a list

In [33]:
banned_users = ['andrew', 'carolina', 'david']

user = 'marie'
if user not in banned_users:
    print(user.title() + ", you can post in a response if you wish")

Marie, you can post in a response if you wish

In [37]:
car = 'subaru'
if car == 'subaru':
    print("I predict it True")

I predict it True

In [38]:
age = 19
if age >= 18:
    print("You are old enough to vote!")

You are old enough to vote!

In [39]:
age = 19
if age >= 18:
    print("You are old enough to vote!")
    print("Have you registered to vote yet?")

You are old enough to vote!
Have you registered to vote yet?

In [40]:
age = 17
if age >= 18:
    print("You are old enough to vote!")
    print("Have you registered to vote yet?")
else:
    print("Sorry, you are too young to vote.")
    print("Please register to vote as soon as you turn 18/")

Sorry, you are too young to vote.
Please register to vote as soon as you turn 18/

## The if-elif-else Chain

In [41]:
age = 12
if age < 4:
    print("Your admission cost is $0")
elif age < 18:
    print("Your admission cost is $5")
else:
    print("Your admission cost is $10")

Your admission cost is $5

In [44]:
age = 12
if age < 4:
    price = 0
elif age < 18:
    price = 5
else:
    price = 10
    
print("Your admission cost is $" + str(price) + ".")

Your admission cost is $5.

## Using Multiple Elif Block

In [46]:
age = 12

if age <4:
    price = 0
elif age <18:
    price = 5
elif age < 65:
    price = 10
else:
    price = 5
    
print("Your admission cost is $" + str(price) + ".")

Your admission cost is $5.

In [47]:
age = 12

if age <4:
    price = 0
elif age <18:
    price = 5
elif age < 65:
    price = 10
elif age >= 65:
    price =5

print("Your admission cost is $" + str(price) + ".")

Your admission cost is $5.

## Testing Multiple Condition

In [51]:
requested_topping = ['mushroom', 'extra cheese']

if 'mushroom' in requested_toppings:
    print('Adding Mushroom.')
if 'pepperoni' in requested_toppings:
    print('Adding Pepperoni.')
if 'extra cheese' in requested_topping:
    print('Adding extra cheese.')
    
print("\nFinished making your pizza!")

Adding Mushroom.
Adding extra cheese.

Finished making your pizza!

In [53]:
alien_color = ['green', 'yellow', 'red']

if 'red' in alien_color:
    print('You earned five point')

You earned five point

In [58]:
alien_color = ['green', 'yellow', 'red']

for color in alien_color:
    if color == 'green':
        print("You earned 5 point")
    else:
        print("You earned 10 point")

You earned 5 point
You earned 10 point
You earned 10 point

In [60]:
alien_color = ['green', 'yellow', 'red']

for color in alien_color:
    if color == 'green':
        print("You earned 5 point")
    elif color == 'yellow':
        print("You earned 10 point")
    elif color == 'red':
        print("You earned 15 point")

You earned 5 point
You earned 10 point
You earned 15 point

In [64]:
from random import randint

age_person = []

for age in range(0,10):
    n = randint(1,65)
    age_person.append(n)
    print(age_person)

for age in age_person:
    if age < 2:
        print("This person is a baby.")
    elif 2 <= age < 4:
        print("This person is a todler")
    elif 4 <= age < 13:
        print("This person is a kid.")
    elif 13 <=  age < 20:
        print("This person is teenager")
    elif 20 <= age < 65:
        print("This person is adult")
    else:
        print("This person is elder")

[4]
[4, 34]
[4, 34, 12]
[4, 34, 12, 7]
[4, 34, 12, 7, 25]
[4, 34, 12, 7, 25, 59]
[4, 34, 12, 7, 25, 59, 64]
[4, 34, 12, 7, 25, 59, 64, 11]
[4, 34, 12, 7, 25, 59, 64, 11, 38]
[4, 34, 12, 7, 25, 59, 64, 11, 38, 9]
This person is a kid.
This person is adult
This person is a kid.
This person is a kid.
This person is adult
This person is adult
This person is adult
This person is a kid.
This person is adult
This person is a kid.

## Using multiple List

In [67]:
available_toppings = ['mushroom', 'olives', 'green peppers', 'pepperoni', 'pineaple', 'extra cheese']

requested_toppings = ['mushroom', 'banana', 'french fries', 'extra cheese']

for requested_topping in requested_toppings:
    if requested_topping in available_toppings:
        print("Adding " + requested_topping + ".")
    else:
        print("Sorry, we dont have " + requested_topping + ".")

Adding mushroom.
Sorry, we dont have banana.
Sorry, we dont have french fries.
Adding extra cheese.

In [72]:
list_user = ['suryo', 'fahmi', 'alvin', 'reymon', 'indra', 'naufal', 'admin']

for user in list_user:
    if user == 'admin':
        print("Hello " + user.title() + ",would you like to see status report?")
    else:
        print("Hello " + user.title() + ",thank you for logging in again")

Hello Suryo,thank you for logging in again
Hello Fahmi,thank you for logging in again
Hello Alvin,thank you for logging in again
Hello Reymon,thank you for logging in again
Hello Indra,thank you for logging in again
Hello Naufal,thank you for logging in again
Hello Admin,would you like to see status report?

In [76]:
list_user = []

for user in list_user:
    if user == 'admin':
        print("Hello " + user.title() + ",would you like to see status report?")
    elif user == 'suryo':
        print("Hello " + user.title() + ",thank you for logging in again")
    else:
        print("We need some user!")

In [132]:
list_users = ['suryo', 'fahmi', 'alvin', 'reymon', 'indra', 'naufal', 'admin']

In [133]:
new_users = ['alvin', 'laga', 'ken', 'stephen', 'risma', 'suryo', 'fahmi']

In [136]:
for new_user in new_users:
    for list_user in list_users:
        if new_user == list_user:
            print("The username is already use!")
            break
        else:
            print("The username is available")

The username is available
The username is available
The username is already use!
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is available
The username is already use!
The username is available
The username is already use!